*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    
}
main{
  /* margin-top: 2%; */
  padding-top:2%;
  height: 100%;
  background-color: lightblue;
}

#main-destinos{
  /* padding-top:2%; */
  padding-bottom:35%;
  height: 100%;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Previene scroll horizontal */
    color:#1B2631
    
}

header{
  width: 100%;
  height: 20%;
  border:2px solid black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: #0A74DA;

}
header h1{
  margin-left:45.5%;
  font-size:50px;
  margin-top:1%;
}
header nav ul li a img{
  width:100%;
  height: 100%;
}
 header nav ul{
  display: flex;
  align-items: center;
  width: 100%;
  /* margin-left:33.3%; */
  justify-content: center;
 }
header nav ul li{
  list-style: none;
  margin-left:5%;
  width: 4%;
  
}
header nav ul li p{
  text-align: center;
}

#login-icono{
  width:6.5%;
  height: auto;

}
main{
  clear:both;
}

footer{
  width: 100%;
  /* height: 15%; */
  border:2px solid black;
  clear:both;
  padding-bottom: 12%;
  background-color: #A7FFEB;
}
footer div {
  margin-left:5.4%;
  /* margin-top: 2%; */
  float: left;
}
.rating {
    display: inline-block;
    margin-top:4%;

  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #6f00ff;
    transition: color 0.3s;
  }
  
.contacts{
    width: 33%;
    margin-left:14.8%;
    margin-top:4%;
}
.location img{
  height: auto;
  width: 46%;
  padding-left:10%;
  padding-top:3%;
  padding-bottom:3%;
}
.location h3{
  float:left;
  margin-top: 11.5%;
}
.location{
    width: 33%;
}

#section1-index img{
  width: 45%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
#article1-index img{
  margin-left:3%;
  float:left;
}

#section1-index article h4{
  font-size: 25px;
  text-align: center;
  padding-top:1%;
  margin-bottom:2%;
}
#article1-index p{
  margin-left:50%;
  margin-right:3%;
}

#article2-index p{
  margin-right:50%;
  margin-left:3%;
}
#article2-index h4{
  margin-top:14%;
}

#section1-index p{
  font-size:22px;
}

#article2-index{
  clear:both;
}

#article2-index img{
  margin-right:3%;
  float:right;
}

#section1-index
{
  padding-bottom:20%;
}

.section-main-destinos h2, h4{
  text-align: center;
}

.section-main-destinos{
  padding-bottom:2%;
}

.section-main-destinos h2{
  font-size:45px;
}

.section-main-destinos h4{
    padding-top:1%;
}


#main-destinos article{
    width: 20%;
    height: auto;
    border-radius: 20px;
    border:1px solid black;
    margin-left:4%;
    float:left;
    margin-bottom:4%;
    margin-top: 1%;
    background-color: white;
}

#main-destinos article img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

#main-destinos article h3{
  text-align: center;
  padding-top: 3%;
  font-size: 25px;
}

#destinos-descripcion{
  text-align: center;
  font-size: 20px;
  padding-top:5%;
}

.boton{
  color:black;
  text-decoration: none;
  text-align: center;
}

.boton p{

  padding-top:5%;
  padding-bottom:5%;
  border:1px solid black;
  width: 50%;
  background-color: #0A74DA;
  color:white;
  border-radius: 35px;
  margin-left:22.5%;
  font-size: 20px;
  margin-bottom:5%;
  margin-top:10%;
  text-align: center;
}

#main-login{
  padding-bottom:10%;
}
#div-main-login{
  margin-right:35%;
  margin-left:40%;
  font-size: 35px;
}
#form-main-login h2{
  margin-bottom: 10%;
}
#label-nombre{
  margin-bottom: 30%;
}

.botones-entrega{
  clear:both;
  margin-left: 1%;
}








